body, html{
    height: 100%;
}
h1,h2,h3{
    font-family:"DK Crayon Crumble", "monospace";
}
.jumbotron{
    background-image: linear-gradient(to right,rgb(0, 98, 128),red);
    font-family: "DK Crayon Crumble", "monospace";
    font-size: x-large;
    margin:0px;
}
nav {
    padding: 30px;
    background-color: rgba(60,30,70,.4); 
    color: white;
}
dt{
    font-family: 'DK Crayon Crumble';
}
.card-header{
    background-color: rgb(0, 98, 128);
}
.bg{
    background-image: url("img/FullSizeR_17.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
