h1,h2,h3{
    font-family:"DK Crayon Crumble", "monospace";
}
nav{
    background-image: linear-gradient(to right,rgb(0, 98, 128),red, rgb(0, 98, 128));
    font-family: "DK Crayon Crumble", "monospace";
    font-size: x-large;
    margin-bottom: 30px;
}
.jumbotron {
    margin-bottom: 20px;
    padding: 30px;
    background-image: linear-gradient(to right,red, rgb(0, 98, 128), red);
    color: white;
}
dt{
    font-family: 'DK Crayon Crumble';
}
.card-header{
    background-color: rgb(0, 98, 128);
}